.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  max-width: 400px;
  min-width: 100px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__infor {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 10px;
}

.product__button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
  color: #111;
}

.product__rating {
  display: flex;
}
